<!DOCTYPE html>
<html lnag="pl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='opinie.css') }}">
    
    <title>Igrzyska Polski</title>
</head>
<body>
   
    <div class = "content">
        
        <h1>WYBORY 2020</h1> 
        <h3>Emocjonujące wybory w trakcie!</h3>
            <p> W związku z tym postanowiliśmy stworzyć platformę, na której możesz anonimowo wyrazić swoją opinię na temat kandydatów 
            startujących w drugiej turze wyborów na urząd prezydenta Polski. Niezależnie od tego czy wypowiedź jest pozytywna, czy 
            negatywna, możesz ją przedstawić bez krzywdzenia innych, bezpiecznie.<br>
            Strona powstała w odpowiedzi na rosnące emocje pomiędzy podzielonym społeczeństwem i ma za zadanie przyczynić się do ich 
            rozładowania w sposób widoczny dla innych użytkowników, ale nie stanowiący ataku na jakąkolwiek jednostkę lub grupę społeczną.</p>
        <button class="btn"><a href="/trzask">Dodaj opinię o Rafale Trzaskowskim</a></button>
        <button class="btn"><a href="/duda">Dodaj opinię o Andrzeju Dudzie</a></button>    
        <button class="btn"><a href="/wynikitrzask">Zobacz opinie - Rafał Trzaskowski</a></button>
        <button class="btn"><a href="/wynikiduda">Zobacz opinie - Andrzej Duda</a></button>
        <p class="footer">Strona używa podstawowych cookies oraz jest w pełni darmowa. Twórcy strony nie pobierają żadnych korzyści 
            majątkowych z jej tytułu. Dbając o Państwa bezpieczeństwo i prywatność, strona nie pozyskuje żadnych informacji od użytkownika. 
            Nie prowadzimy też żadnych statystyk dotyczących ruchu na stronie. Strona jest non-profit, dlatego prosimy o wyrozumiałość przy jakichkolwiek awariach. 
            Twórcy strony nie ponoszą żadnej odpowiedzialności za wpisy użytkowników.</p>
    </div>
</body>
</html>
